body {
    
}
.mini-toastr {

}
.mini-toastr .mini-toastr__notification {
    position: relative;
    box-shadow: none;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
}
.mini-toastr .mini-toastr__notification:hover {
    box-shadow: none;
}
.mini-toastr .mini-toastr__notification{
    &.-error {
      background: #ff3860;
      color: #fff;
    }
    &.-success {
        background: #23d160;  
        color: #fff;
    }
    &.-info {
        background: #3273dc;  
        color: #fff;
    }
    &.-warn {
        background: #ffdd57;  
        color: rgba(0,0,0,.8);
    }
    &.-primary {
        background: #00d1b2;
        color: #fff;
    }
}
.mini-toastr .mini-toastr__notification .mini-toastr-notification__title {
    font-size: 18px;
    font-weight: 400;
    text-indent: 20px;
    margin-bottom: 5px;
}
.mini-toastr .mini-toastr__notification .mini-toastr-notification__icon {
    position: absolute;
    left: 10px; top: 18px;
}
.mini-toastr .mini-toastr__notification .mini-toastr-notification__message {
    padding: 0;
    font-weight: 300;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  margin: 0px auto;
  padding: 0px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-container.modal-lg {
    width: 90%;
}
.modal-container.modal-md {
    width: 60%;
}
.modal-container.moda-sm {
    width: 40%;
}
.modal-container.moda-xs {
    width: 300px;
}
.modal-header {
  margin-top: 0;
  font-weight: bold;
}

.modal-body {
  margin:0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}